---
import ContentContainer from "../common/ContentContainer.astro";
---

<ContentContainer>
  <div class="flex flex-col bg-[#222d3a] w-full rounded-2xl p-5">
    <span>Hispacams va de Escaparse</span>

    <p>
      Sabrás al momento si vale la pena esa escapada con nuestras webcams en
      directo. Y con Premium podras...
    </p>

    <ul>
      <li>Guardar webcams como favoritas para tenerlas siempre a mano</li>

      <li>Votar y ver las votaciones para encontrar las mejores webcams</li>

      <li>Participar en nuestra comunidad comentando en cualquier webcam</li>
    </ul>
    <p>Esto y mucho más te esta esperando en Premium, !A qué esperas!</p>
  </div>
</ContentContainer>
