---
import { getFeaturedCams } from "../../../data/wp";
import MainFeaturedCam from "./MainFeaturedCam.astro";
const cams = await getFeaturedCams();
---

<div class="grid grid-cols-4 grid-rows-2 gap-4">
  <div class="col-span-2 row-span-2">
    <MainFeaturedCam data={cams[0]} />
  </div>
  <div class="col-start-3">
    <MainFeaturedCam data={cams[1]} />
  </div>
  <div class="col-start-3 row-start-2">
    <MainFeaturedCam data={cams[2]} />
  </div>
  <div class="row-span-2 col-start-4 row-start-1">
    <MainFeaturedCam data={cams[0]} />
  </div>
</div>
