---
import { Image } from "astro:assets";
---

<div class="w-full bg-amber-200 h-[80px] flex justify-center items-center">
<nav class="max-w-[1408px] w-full flex justify-between items-center">    
    <Image src="/logo.svg" alt="logo" width="95" height="54" />    
    <span>Webcams</span>
    <span>Descubre premium</span>
    <span>Más</span>
    <span>Acceder</span>
</nav>
</div>