---
import { getPages } from "@data/wp"
import MainHero from "@components/main/MainHero.astro";
import MainFeatured from "@components/main/MainFeatured.astro"
import MainAbout from "@components/main/MainAbout.astro"
import MainHowManyCams from "@components/main/MainHowManyCams.astro"
import MainTopTen from "@components/main/MainTopTen.astro"
import MainNews from "@components/main/MainNews.astro"

---

<main>
    <MainHero />
    <MainFeatured />
    <MainAbout />
    <MainHowManyCams />
    <MainTopTen />
    <MainNews />    
</div>
</main>

