---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />		
		<title>Hispacams</title>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vanilla-infinite-marquee@1.0.12/infinite-marquee.min.css">
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>